/*
  Animations
*/

.box_viewer_anim, .box_viewer img, .box_left_arrow, .box_right_arrow, .box_title {
  -moz-transition: all 0.27s linear;
  -o-transition: all 0.27s linear;
  -webkit-transition: all 0.27s linear;
  transition: all 0.27s linear;
}


/*
  General
*/

.box_overlay, .boxifier img, .box_viewer, /*.box_left_arrow div, .box_right_arrow div,*/ .box_title {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
}

.boxifier {
  display: none;
  text-align: center;
  color: #CCC;
  background: transparent;
}

.box_overlay {
  position: fixed;
}

.box_viewer {
  border: 1px solid rgba(204,204,204,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box_viewer:hover .box_left_arrow, .box_viewer:hover .box_right_arrow, .box_viewer:hover .box_title {
  opacity: 1;
}

.boxifier img {
  opacity: 0;
}

.box_left_arrow, .box_right_arrow, .box_title {
  opacity: 0;
}


/*
  Arrows
*/

.box_left_arrow, .box_right_arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  border: 40px solid rgba(0,0,0,0.7);
  cursor: pointer;
  z-index: 100;
}

.box_left_arrow {
  border-color: transparent rgba(0,0,0,0.7) transparent transparent;
}

.box_right_arrow {
  right: 0;
  border-color: transparent transparent transparent rgba(0,0,0,0.7);
}

.box_left_arrow div, .box_right_arrow div {
  position: absolute;
  margin: -24px 0 0 -33px;
  border: 24px solid #000;
}

.box_left_arrow div {
  margin: -24px 0 0 -15px;
  border-color: transparent rgba(204,204,204,0.2) transparent transparent;
}

.box_right_arrow div {
  border-color: transparent transparent transparent rgba(204,204,204,0.2);
}


/*
  Title
*/

.box_title {
  top: auto; left: 25%; bottom: 25px;
  width: 50%; height: auto;
  margin-left: -10px;
  padding: 10px 20px;
  z-index: 100;

  border: 2px solid rgba(204,204,204,0.5);
  background-color: rgba(0,0,0,0.8);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}


/*
  Loading animation
*/

.box_load {
  display: none;

  position: absolute;
  top: 50%; left: 50%;
  margin: -12px 0 0 -12px;

  width: 20px; height: 20px;
  border: 5px solid rgba(204,204,204,0.2);

  border-top-color: rgba(204,204,204,0.6);
  border-right-color: rgba(204,204,204,0.6);
  border-bottom-color: rgba(204,204,204,0.6);

  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  border-radius: 99px;
}

.box_rotate {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.box_anim {
  -moz-transition: -moz-transform 0.27s linear;
  -o-transition: transform 0.27s linear;
  -webkit-transition: transform 0.27s linear;
  transition: transform 0.27s linear;
}