/*
  Animations
*/

.box_viewer_anim, .box_viewer img, .box_left_arrow, .box_right_arrow, .box_title {
  -moz-transition: all 0.27s linear;
  -o-transition: all 0.27s linear;
  -webkit-transition: all 0.27s linear;
  transition: all 0.27s linear;
}


/*
  General
*/

.box_overlay, .boxifier img, .box_viewer, .box_title {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
}

.boxifier {
  display: none;
  text-align: center;
  color: #CCC;
  background: transparent;
}

.box_overlay {
  position: fixed;
}

.box_viewer {
  border: 1px solid rgba(204,204,204,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box_viewer:hover .box_left_arrow, .box_viewer:hover .box_right_arrow, .box_viewer:hover .box_title {
  opacity: 1;
}

.boxifier img {
  opacity: 0;
}

.box_left_arrow, .box_right_arrow, .box_title {
  opacity: 0;
}


/*
  Arrows
*/

.box_left_arrow, .box_right_arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  border: 40px solid rgba(0,0,0,0.7);
  cursor: pointer;
  z-index: 100;
}

.box_left_arrow {
  border-color: transparent rgba(0,0,0,0.7) transparent transparent;
}

.box_right_arrow {
  right: 0;
  border-color: transparent transparent transparent rgba(0,0,0,0.7);
}

.box_left_arrow div, .box_right_arrow div {
  position: absolute;
  margin: -24px 0 0 -33px;
  border: 24px solid #000;
}

.box_left_arrow div {
  margin: -24px 0 0 -15px;
  border-color: transparent rgba(204,204,204,0.2) transparent transparent;
}

.box_right_arrow div {
  border-color: transparent transparent transparent rgba(204,204,204,0.2);
}


/*
  Title
*/

.box_title {
  top: auto; left: 0; right: 0; bottom: 0;
  height: auto;
  margin-left: -10px;
  padding: 10px 20px;
  z-index: 100;

  background-color: rgba(0,0,0,0.8);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}


/*
  Loading animation
*/

.box_load {
  display: none;
  position: absolute;
  top: 50%; left: 50%;
  margin: -3px 0 0 -25px;
  width: 50px; height: 6px;
  font-size: 0;
}

.box_load div {
  display: inline-block;
  margin: 0 3px 0 0;
  width: 6px; height: 6px;

  background-color: rgba(204,204,204,0.3);

  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.highlight {
  background-color: rgba(204,204,204,0.8) !important;
}